In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\herat\anaconda3\lib\site-packages (8.3.0)Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install dask

Requirement already satisfied: dask in c:\users\herat\anaconda3\lib\site-packages (2023.6.0)
Requirement already satisfied: click>=8.0 in c:\users\herat\anaconda3\lib\site-packages (from dask) (8.0.4)
Requirement already satisfied: cloudpickle>=1.5.0 in c:\users\herat\anaconda3\lib\site-packages (from dask) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\herat\anaconda3\lib\site-packages (from dask) (2023.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\herat\anaconda3\lib\site-packages (from dask) (23.1)
Requirement already satisfied: partd>=1.2.0 in c:\users\herat\anaconda3\lib\site-packages (from dask) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\herat\anaconda3\lib\site-packages (from dask) (6.0)
Requirement already satisfied: toolz>=0.10.0 in c:\users\herat\anaconda3\lib\site-packages (from dask) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\herat\anaconda3\lib\site-packages (from dask) (6.0.0)
Requirement already satisfied: colorama in c:\users\herat\anaconda3\lib\site-packages (from click>=8.0->dask) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\herat\anaconda3\lib\site-packages (from importlib-metadata>=4.13.0->dask) (3.11.0)
Requirement already satisfied: locket in c:\users\herat\anaconda3\lib\site-packages (from partd>=1.2.0->dask) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sqlalchemy import create_engine
import pandas as pd
import dask.dataframe as dd
import time
import os

In [5]:
MYSQL_HOST = 'heratdevisha.lmu.build'
MYSQL_USER = 'heratdev_admin_alteryx_capstone'
MYSQL_PASSWORD = 'AlteryxCapstone2024'
MYSQL_DB = 'heratdev_alteryx_capstone' 

lmubuildengine = create_engine(f'mysql+mysqlconnector://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}/{MYSQL_DB}')
aws_uri = f'mysql+mysqlconnector://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}/{MYSQL_DB}'

In [9]:
access_level = """
    SELECT access_levels
    FROM Users
    JOIN Roles
    ON Users.role = Roles.role
    WHERE UserID = 'seal_kala';
           """

In [10]:
access_level = pd.read_sql_query(access_level, con=lmubuildengine)
access_level

  access_levels
0     Executive